.Singers{
    padding: 1rem;
    /* background-color: aqua; */
}


.singersWrapper{
   display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    grid-gap: 1.5rem;
}

/* .singersContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


.SingersHeading{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.SingersHeading1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem; 
}
.mediumHeading{
    font-size: 1.6rem;
    font-weight: 600;
}
.smallHeading{
font-size: 1.2rem;
}

.details_div{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.details_div>div{
    display: flex;
    flex-direction: column;
}

.details_div>div>*{
    margin-bottom: 7px;
}
.budget_tag{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.textmaxwidth{
    margin-bottom: 1.5rem;
}
.show-md{
    display: none;
}

.container-singers{
    padding: 0px 10px;
    margin: 0 10px;
    margin-top: 40px;
}

@media only screen and (max-width: 700px) {
    .SingersHeading{
        text-align: left;
    }
    .details_div{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 12px;
        margin: 0px 10px;
    }
    .details_div>div{
        width: 100%;
    }
    .budget_div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textmaxwidth{
        max-width: 250px;

    }
    .show-md{
        display: block;
    }

    .details-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid #0d0d0d;
        border-top: 1px solid #0d0d0d;
        padding: 20px 10px ;
    }
    /* Divider of details Text */
    .ml-10{
        margin-left: 10px;
    }

    .container-singers{
        padding: 0px;
        margin: 0px;
        margin-top: 40px;
    }
     .container-singers .SingersHeading{
        margin-left: 20px;
    }
    .css-6ffsbr-MuiAutocomplete-root{
        width: 100% !important;
    }

    .MuiAutocomplete-hasPopupIcon{
        width: 100% !important;
    }
    .container-content{
        border-bottom: 1px solid #272727;
    }

}

.pointer{
    cursor: pointer;
}