* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.maxWidth {
  max-width: 1200px;
  margin: auto;
}
.maxWidthforpoiter {
  max-width: 1050px;
  margin: auto;
}

.small {
  font-size: 1rem;
}

.medium {
  font-size: 1.4rem;
}

.large {
  font-size: 1.9rem;
}

.boldPointer {
  font-size: 1.3rem;
  font-family: 600;
}

@media only screen and (max-width: 600px) {
  .small {
    font-size: 0.9rem;
  }

  .medium {
    font-size: 1.1rem;
  }

  .large {
    font-size: 1.6rem;
  }

  .boldPointer {
    font-size: 1rem;
    font-family: 600;
  }
}
