* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.maxWidth {
  max-width: 1200px;
  margin: auto;
}

.maxWidthforpoiter {
  max-width: 1050px;
  margin: auto;
}

.small {
  font-size: 1rem;
}

.medium {
  font-size: 1.4rem;
}

.large {
  font-size: 1.9rem;
}

.boldPointer {
  font-size: 1.3rem;
  font-family: 600;
}

@media only screen and (max-width: 600px) {
  .small {
    font-size: .9rem;
  }

  .medium {
    font-size: 1.1rem;
  }

  .large {
    font-size: 1.6rem;
  }

  .boldPointer {
    font-size: 1rem;
    font-family: 600;
  }
}

.Footer {
  padding: 1rem;
}

.FooterLogoDiv {
  width: 175px;
  margin-bottom: 2rem;
  padding: 10px;
}

.Footerlogo {
  align-items: center;
  gap: 4px;
  display: flex;
}

.Footerlogo > img {
  width: 50px;
}

.Footerlogo > p {
  font-size: 1.9rem;
  font-weight: 700;
}

.foooterSocialMedia {
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 2px;
  right: -55px;
}

.foooterSocialMedia > * {
  cursor: pointer;
}

.FooterParentdiv {
  display: flex;
}

.links_div {
  width: 50%;
  justify-content: space-between;
  display: flex;
}

.address_div {
  width: 50%;
  justify-content: space-around;
  display: flex;
}

.footerHeading {
  margin-bottom: 4px;
}

.links {
  margin-bottom: 1.4rem;
}

.links > p {
  cursor: pointer;
  padding-top: 5px;
}

.paymentd {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.PaymentImage {
  width: 90%;
  max-width: 500px;
}

.PaymentImage img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .FooterParentdiv {
    flex-direction: column;
  }

  .links_div {
    width: 100%;
  }

  .address_div {
    width: 100%;
    justify-content: left;
  }

  .PaymentImage {
    width: 320px;
  }
}

.Header {
  height: 75px;
  background-color: #101010;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.Header_child {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
}

.logo_div {
  align-items: center;
  gap: 5px;
  display: flex;
}

.logo_div > img {
  height: 40px;
}

.logo_div p {
  color: #fff;
  font-weight: 600;
}

.user_name {
  color: #fff;
}

.Loding {
  width: 100%;
  min-height: 90vh;
  background-color: #f8f9ff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.Loding img {
  width: 80%;
  max-width: 700px;
}

.Loding p {
  text-align: center;
}

.Singers {
  padding: 1rem;
}

.SingersHeading, .SingersHeading1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.mediumHeading {
  font-size: 1.6rem;
  font-weight: 600;
}

.smallHeading {
  font-size: 1.2rem;
}

.details_div {
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.details_div > div {
  flex-direction: column;
  display: flex;
  margin-right: 1rem;
}

.details_div > div > * {
  margin-bottom: 7px;
}


  

.budget_tag {
  color: #fff;
  background-color: #101010;
  border-radius: 10px;
  padding: 10px;
}

.textmaxwidth {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .SingersHeading {
    text-align: left;
  }

  .details_div {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
  }
   .details_div > div{
   text-align: center;
  }

  .budget_div {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .textmaxwidth {
    max-width: 250px;
  }
}

.SingerCard {
  height: 583px;
  width: 321px;
  background-color: #101010;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.image_div {
  width: 100%;
  height: 321px;
  border-radius: 30px 30px 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.image_div img {
  width: 100%;
}

.content_div {
  width: 100%;
  box-shadow: inset #10101000040;
  height: 236px;
  -webkit-backdrop-filter: blur(29.4271px);
  backdrop-filter: blur(29.4271px);
  border-top: 3px solid #e4e1e1be;
  border-radius: 30px 0 0;
  position: relative;
  bottom: 30px;
}

.medium_text {
  font-size: 1.1rem;
}

.content_div {
  color: #fff;
  padding: 1rem;
  font-weight: 500;
}

.name_postdiv {
  text-align: center;
  margin-bottom: 1rem;
  padding: .6rem 0;
}

.image_url_div {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.image_url_div > div {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.image_url_div > div img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.selectBTN {
  height: 56px;
  color: #fff;
  cursor: pointer;
  background-color: #101010;
  border-top: .5px solid #ffffff80;
  border-radius: 0 0 30px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  bottom: 30px;
}

.slected_activeBTN {
  background-color: #ffffff80;
}

.UperFooter {
  background-color: #101010;
  padding: 1rem;
}

.UperFooter > * {
  color: #fff;
}

.UperFooter > div {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.UperFooter > div > p {
  text-align: center;
  padding-top: 7px;
}

.pointer > p {
  text-align: left !important;
}

/*# sourceMappingURL=index.ee9f2296.css.map */
